<section class="info-partido">
    <div>
        <h2>@ViewBag.Partido.Nombre</h2>
        @if(ViewBag.Partido.Logo == ViewBag.Partido.Nombre.ToLower() + ".jpg" || ViewBag.Partido.Logo == ViewBag.Partido.Nombre.ToLower() + ".png"){
                <img src="~/Imagenes/@ViewBag.Partido.Logo">
            }
            else{
                <img src="@ViewBag.Partido.Logo">
            }
    </div>
    <div class="rebajar">
        <p><b>Sitio web:</b> <a href="@ViewBag.Partido.SitioWeb">@ViewBag.Partido.SitioWeb</a></p>
        <p><b>Fecha de fundación:</b> @ViewBag.Partido.FechaFundacion.ToShortDateString()</p>
        <p><b>Cantidad de diputados:</b> @ViewBag.Partido.CantidadDiputados</p>
        <p><b>Cantidad de senadores:</b> @ViewBag.Partido.CantidadSenadores</p>
    </div>
</section>
<section class="Candidato-conteiner">
    @for(int i = 0; i<ViewBag.ListaCandidatos.Count; i++){
        <article>
            <h2>@ViewBag.ListaCandidatos[i].Nombre @ViewBag.ListaCandidatos[i].Apellido</h2>
            @if(ViewBag.ListaCandidatos[i].Foto == ViewBag.ListaCandidatos[i].Nombre.ToLower() + ViewBag.ListaCandidatos[i].Apellido + ".png" || @ViewBag.ListaCandidatos[i].Foto == ViewBag.ListaCandidatos[i].Nombre.ToLower() + ViewBag.ListaCandidatos[i].Apellido + ".jpg"){
                <img src="~/Imagenes/@ViewBag.ListaCandidatos[i].Foto">
            }
            else{
                <img src="@ViewBag.ListaCandidatos[i].Foto">
            }
            <div>
                <a href='@Url.Action("VerDetalleCandidato", new{idCandidato=ViewBag.ListaCandidatos[i].IdCandidato})'><i class="fa-solid fa-eye"></i></a>
                <a href='@Url.Action("EliminarCandidato", new{idPartido=ViewBag.Partido.IdPartido, idCandidato=ViewBag.ListaCandidatos[i].IdCandidato})'><i class="fa-solid fa-trash"></i></a>
            </div>
        </article>
    }
</section>
<section class="link-central">
    <a href='@Url.Action("AgregarCandidato", new{idPartido=ViewBag.Partido.IdPartido})'><i class="fa-solid fa-circle-plus"></i></a>
</section>